
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
}
text {
    font-family: Verdana, Arial, sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.chartFrame {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#chart {
    flex: 1;
    min-height: 15em;
}
#selectors {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}

#hourSelect label {
    display: block;
    padding: 0.3em;
}

.selector {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
}
.fieldSelector {
    margin: 0.3em;
}
input.colorSelect {
    width: 3em;
    height: 2em;
    margin: 0.3em;
}
button#start {
    width: 6em;
    height: 2em;
    margin: 0.3em;
}
.tooltip{
    background-color: lightgray;
    padding: 0.2em;
    border-radius: 0.1em;
}

@media (max-width: 800px) {
    .chartFrame{
        flex-direction: column;
    }
    #hourSelect label {
        display: inline-block;
    }
}
