
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
}
text {
    font-family: Verdana, Arial, sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.chartFrame {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#chart {
    flex: 1;
    min-height: 15em;
}
#selectors {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}

.startSelect label {
    display: block;
    padding: 0.3em;
    width: 4em;
}

.selector {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
}
.fieldSelector {
    margin: 0.3em;
    display: flex;
    align-items: center;
}
input.colorSelect {
    width: 3em;
    height: 2em;
    margin: 0.3em;
}
select.formatterSelect {
    height: 2em;
}
#hourSelect {
    border-bottom: 1px solid grey;
    margin-bottom: 0.5em;
}
button {
    width: 6em;
    margin: 0.3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    border-width: 1px;
}
button#start{
    background-image: url("icons/play_circle_outline.svg");
}
button#reload{
    background-image: url("icons/refresh.svg");
}
button#settings{
    background-image: url("icons/edit.svg");
}
.tooltip{
    background-color: lightgray;
    padding: 0.2em;
    border-radius: 0.1em;
}
.addFieldSelect {
    display: flex;
    align-items: center;
}
#newFieldList {
    font-size: 1em;
    height: 2em;
    min-width: 10em;
}
.addField, .removeField {
    font-size: 1.5em;
    width: 1.5em;
    height: auto;
}

#editCurrentFields {
    border-bottom: 1px solid grey;
}
.existingField {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
}
.inputRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.inputRow .label {
    width: 8em;
    opacity: 0.6;
}



.overlayFrame{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: #00000073;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    width: 90%;
    max-height: 90%;
    background-color: white;
    flex: 1;
}

.overlayContent {
    flex: 1;
    border-bottom: 1px solid grey;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    white-space: pre-line;
    position: relative;
}

.overlayButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 1000px) {
    .chartFrame{
        flex-direction: column;
    }
    .startSelect label {
        display: inline-block;
    }
}
