.HistoryWidget canvas {
    height: 0;
}
.HistoryWidget .chartFrame {
    flex: 1;
    min-height: 3em;
}
.HistoryWidget text.unit {
    font-size: 1rem !important;
    transform: translate(30px, -20px);
}
.HistoryWidget text{
    font-family: Verdana, Arial, sans-serif;
}
